html{
    height: 100%;
}
body{
    height: 100%;
    font-family:  'Fira Code', monospace !important; 
}

ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    outline:none;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom:.5px solid #ffffff;
    text-align: center;
   
}
  
li a:hover {
    text-decoration:none; 
    color: rgb(95, 114, 90);
    border-bottom:.5px solid #a3a4a5;
    
}
.myName{
    font-weight: 300;
    font-size: 3.5rem;
    padding-left:3%;
}
.about{
    padding-top:4% ;
}
.about p{
    padding: 8%;
}
.navbar{
    border-bottom:.5px solid #a3a4a5;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(255, 0, 0, 0.5);
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(0, 250, 0, 0.5);
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgba(0, 0, 250, 0.5);
    color: white;
}


.nav-pills a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition-duration: 1s;
    border-left:.5px solid #ffffff;
}
  
.nav-pills a:hover {
    text-decoration:none; 
    color: rgb(95, 114, 90);
    border-left:.7px solid #ffffff;
    background-color: #ebf3ef;
}
.nav-pills a:focus {
    text-decoration:none; 
    color: rgb(95, 114, 90);
    border-left:.7px solid #909192;
    background-color: #ebf3ef;  
}
.about-nav .row{
    flex-wrap: nowrap;
}
.right-border{
    border-right:.5px solid #a3a4a5;
}

.about-nav .tab-content{
    list-style-type: none;
}
